{% set title = "제품 등록" %}
{% extends "layout/base.html" %}
 
{% block content -%}
<!-- form action을 비워두면 현재 URL 그대로 감. -->
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <table class="table table-bordered">
            <tr>
                <th>회원명</th>
                <td><input type="text" name="name" class="form-control"
                    value="{{contact.name}}"/></td>
            </tr>
            <tr>
                <th>나이</th>
                <td><input type="text" name="age" class="form-control"
                    value="{{contact.age}}"/></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><input type="text" name="description" class="form-control"
                    value="{{contact.description}}"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

{% endblock %}